// helper


.ib{
	display: inline-block;
	font: inherit;
}

.no-mb{
	margin-bottom: 0!important;
}
.no-mt{
	margin-top: 0!important;
}

.no-pb{
	padding-bottom: 0!important;
}
.no-pt{
	padding-top: 0!important;
}

