%l_container_base {
	display: block;
	padding: 0 map_deep_get($layout, side_margin, sp);
	width: 100%;
	margin: 0 auto;
	position: relative;
	@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
		padding: 0 map_deep_get($layout, side_margin, pc);
		max-width: map_deep_get($layout, container_max_width) +
			(map_deep_get($layout, side_margin, pc) * 2);
	}
}

.l-container {
	@extend %l_container_base;
	&.-s {
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			max-width: map_deep_get($layout, container_max_width_s) + (map_deep_get($layout, side_margin, pc) * 2);
		}
	}
	&.-m {
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			max-width: map_deep_get($layout, container_max_width_m) + (map_deep_get($layout, side_margin, pc) * 2);
		}
	}
	&.-l {
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			max-width: map_deep_get($layout, container_max_width_l) + (map_deep_get($layout, side_margin, pc) * 2);
		}
	}
	&.-nopad {
		padding: 0;
	}
}
