.l-grid {
	$this: &;
	overflow: hidden;
	width: 100%;
	position: relative;
	&.-no-gap {
		& > #{$this}__row {
			margin: 0 !important;
		}
		& > #{$this}__row > #{$this}__col {
			padding: 0 !important;
		}
	}
	&.-pc-justify-between {
		& > #{$this}__row {
			@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
				justify-content: space-between;
			}
		}
	}
	&.-ov-visible {
		overflow: visible;
	}
	&.-gap-l {
		& > #{$this}__row {
			margin: 0 (-1 * map_deep_get($layout, gutter_width, sp)) (-1*map_deep_get($layout, gutter_width, sp) * 2);
			@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
				margin: 0 (-1 * map_deep_get($layout, gutter_width, pc)) (-1*map_deep_get($layout, gutter_width, pc));
			}
		}
		& > #{$this}__row > #{$this}__col {
			padding: 0 (map_deep_get($layout, gutter_width, sp)) map_deep_get($layout, gutter_width, sp) * 2;
			@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
				padding: 0 (map_deep_get($layout, gutter_width, pc)) map_deep_get($layout, gutter_width, pc);
			}
		}
	}
	&.-v-gap-l {
		& > #{$this}__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 (-1 * math.div( ( map_deep_get($layout, gutter_width, sp) ) , 2 )) (-1*map_deep_get($layout, gutter_width, sp) * 2);
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			margin: 0 (-1 * math.div( map_deep_get($layout, gutter_width, pc) , 2 )) (-1*map_deep_get($layout, gutter_width, pc) * 2);
		}
		}
		& > #{$this}__row > #{$this}__col {
			padding: 0 (math.div( map_deep_get($layout, gutter_width, sp) , 2 )) map_deep_get($layout, gutter_width, sp) * 2;
			@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
				padding: 0 (math.div( map_deep_get($layout, gutter_width, pc) , 2 )) map_deep_get($layout, gutter_width, pc) * 2;
			}
		}
	}
	&.-spacebetween{
		& > #{$this}__row {
			justify-content: space-between;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 (-1 * math.div( map_deep_get($layout, gutter_width, sp) , 2 )) (-1*map_deep_get($layout, gutter_width, sp));
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			margin: 0 (-1 * math.div( map_deep_get($layout, gutter_width, pc) , 2 )) (-1*map_deep_get($layout, gutter_width, pc));
		}
	}
	&__col {
		width: 100%;
		padding: 0 (math.div( map_deep_get($layout, gutter_width, sp) , 2 )) map_deep_get($layout, gutter_width, sp);
		&.-sp {
			@for $i from 1 through 12 {
				&-#{$i} {
					max-width: percentage(math.div( $i, 12 ));
					flex-basis: percentage(math.div( $i, 12 ));
				}
			}
		}
		@include media_breakpoint_up(map_deep_get($breakpoint, pc)) {
			padding: 0 (math.div( map_deep_get($layout, gutter_width, pc) , 2 )) map_deep_get($layout, gutter_width, pc);
			&.-pc {
				@for $i from 1 through 12 {
					&-#{$i} {
						max-width: percentage(math.div( $i, 12 ));
						flex-basis: percentage(math.div( $i, 12 ));
					}
				}
			}
		}
	}
}

