//easing

$easing: (
	/* Default Equations */
	linear: cubic-bezier(0.25, 0.25, 0.75, 0.75),
	ease: cubic-bezier(0.25, 0.1, 0.25, 1),
	easeIn: cubic-bezier(0.42, 0, 1, 1),
	easeOut: cubic-bezier(0, 0, 0.58, 1),
	easeInOut: cubic-bezier(0.42, 0, 0.58, 1),
	/* Basic Equations */
	easing_1_SineIn: cubic-bezier(0.47, 0, 0.745, 0.715),
	easing_1_SineOut: cubic-bezier(0.39, 0.575, 0.565, 1),
	easing_1_SineInOut: cubic-bezier(0.445, 0.05, 0.55, 0.95),
	easing_2_QuadIn: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	easing_2_QuadOut: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	easing_2_QuadInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955),
	easing_3_CubicIn: cubic-bezier(0.55, 0.055, 0.675, 0.19),
	easing_3_CubicOut: cubic-bezier(0.215, 0.61, 0.355, 1),
	easing_3_CubicInOut: cubic-bezier(0.645, 0.045, 0.355, 1),
	easing_4_QuartIn: cubic-bezier(0.895, 0.03, 0.685, 0.22),
	easing_4_QuartOut: cubic-bezier(0.165, 0.84, 0.44, 1),
	easing_4_QuartInOut: cubic-bezier(0.77, 0, 0.175, 1),
	easing_5_QuintIn: cubic-bezier(0.755, 0.05, 0.855, 0.06),
	easing_5_QuintOut: cubic-bezier(0.23, 1, 0.32, 1),
	easing_5_QuintInOut: cubic-bezier(0.86, 0, 0.07, 1),
	easing_6_ExpoIn: cubic-bezier(0.95, 0.05, 0.795, 0.035),
	easing_6_ExpoOut: cubic-bezier(0.19, 1, 0.22, 1),
	easing_6_ExpoInOut: cubic-bezier(1, 0, 0, 1),
	easing_7_CircIn: cubic-bezier(0.6, 0.04, 0.98, 0.335),
	easing_7_CircOut: cubic-bezier(0.075, 0.82, 0.165, 1),
	easing_7_CircInOut: cubic-bezier(0.785, 0.135, 0.15, 0.86),
	easing_BackIn: cubic-bezier(0.6, -0.28, 0.735, 0.045),
	easing_BackOut: cubic-bezier(0.175, 0.885, 0.32, 1.275),
	easing_BackInOut: cubic-bezier(0.68, -0.55, 0.265, 1.55),
	easing_BackOutStrong: cubic-bezier(0.5, 1.5, 0.5, 1.5),
	easing_BackInStrong: cubic-bezier(0.5, -0.5, 0.5, -0.5),
	easing_BackInOutStrong: cubic-bezier(0.5, -1, 0.5, 2),
	easing_12_SineQuadInOut: cubic-bezier(0.445, 0.05, 0.515, 0.955),
	easing_21_QuadSineInOut: cubic-bezier(0.455, 0.03, 0.55, 0.95),
	easing_23_QuadCubicInOut: cubic-bezier(0.455, 0.03, 0.355, 1),
	easing_32_CubicQuadInOut: cubic-bezier(0.645, 0.045, 0.515, 0.955),
	easing_34_CubicQuartInOut: cubic-bezier(0.645, 0.045, 0.175, 1),
	easing_43_QuartCubicInOut: cubic-bezier(0.77, 0, 0.355, 1),
	easing_45_QuartQuintInOut: cubic-bezier(0.77, 0, 0.07, 1),
	easing_54_QuintQuartInOut: cubic-bezier(0.86, 0, 0.175, 1),
	easing_46_QuartExpoInOut: cubic-bezier(0.77, 0, 1, 0),
	easing_64_ExpoQuartInOut: cubic-bezier(1, 0, 0.175, 1),
	easing_56_QuintExpoInOut: cubic-bezier(0.86, 0, 1, 0),
	easing_65_ExpoQuintInOut: cubic-bezier(1, 0, 0.07, 1),
	smooth: cubic-bezier(0.15, 0.86, 0.44, 1),
	swing: cubic-bezier(0.19, 1, 0.22, 1),
	overlap: cubic-bezier(0.6, 0, 0.3, 1),
	custom: cubic-bezier(0, 0.6, 0.2, 1),
	bound: cubic-bezier(0.175, 0.885, 0.32, 1.275)
);
